@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
  max-width: 1200px;
  margin: auto;
  background-image: url(../images/bg.jpg);
}
.galerie{
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}
img{
  width: 150px;
  margin: 5px;
  flex-grow: 1;
  border: 2px solid white;
  z-index: 1;
  filter: sepia(100%);
}
img:hover{
  width: 200px;
  z-index: 20;
  flex-grow: 0;
  opacity: 1;
  transform: scale(1.2,1.2);
  filter: sepia(0%);
  transition: 0.3s;
  
}
h1{
  text-align: center;
  color: green;
  font-family: 'Oswald', sans-serif;
}
